.fight-box {
  position: relative;
  min-height: 12.5rem;
  max-height: 28rem;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 2rem;
}

#player,
#enemy {
  position: absolute;
  bottom: 2rem;
}

.ken {
  background-image: url('assets/ken.spritesheet.png');
  width: 70px;
  height: 80px;
}

#enemy {
  transform: rotateY(180deg);
  right: 0;
  animation-delay: 0.15s;
}

.ken.stand {
  animation: ken-stand steps(4) 0.5s forwards infinite;
}
.ken.punch {
  animation: ken-punch steps(3) 0.15s forwards;
}
.ken.blast {
  animation: ken-blast steps(3) 0.6s forwards;
}
.ken.blast::after {
  content: '';
  width: 70px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 70px;
  position: absolute;
  background-image: url('assets/ken.spritesheet.png');
  animation: ken-blast-projectile 0.3s 0.3s ease-out forwards;
  background-position: 0px -320px;
  visibility: hidden;
}
.ken.walk {
  animation: ken-walk steps(5) 0.35s forwards infinite;
}
.reverse-animation {
  animation-direction: reverse;
}
.ken.kick {
  animation: ken-kick steps(4) 0.35s forwards;
}

@keyframes ken-kick {
  from {
    background-position: 0px -480px;
  }
  to {
    background-position: -280px -480px;
  }
}

@keyframes ken-stand {
  from {
    background-position: 0px -80px;
  }
  to {
    background-position: -280px -80px;
  }
}
@keyframes ken-punch {
  from {
    background-position: 0px -160px;
  }
  to {
    background-position: -210px -160px;
  }
}
@keyframes ken-blast {
  0% {
    background-position: 0px 0px;
  }
  60%,
  100% {
    background-position: -210px 0px;
  }
}
@keyframes ken-blast-projectile {
  from {
    left: 70px;
    visibility: visible;
  }
  0%,
  79.99% {
    background-position: 0px -320px;
  }
  80%,
  84.99% {
    background-position: 0px -400px;
  }
  85%,
  89.99% {
    background-position: 70px -400px;
  }
  90%,
  94.99% {
    background-position: 140px -400px;
  }
  95%,
  100% {
    background-position: 210px -400px;
    visibility: visible;
    left: 675px;
  }
}
@keyframes ken-walk {
  from {
    background-position: 0px -240px;
  }
  to {
    background-position: -350px -240px;
  }
}

html {
  height: 100vh;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  max-width: 50rem;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.stats > h4 {
  background-color: rgba(0, 0, 0, 0.45);
  margin: 0;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 400;
  border-radius: 4px;
}

input[type='radio'] {
  border: #222 solid 1px;
  background-color: white;
  width: 1rem;
  height: 1rem;
  appearance: none;
  -moz-appearnce: none;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 2px;
}

input + label {
  cursor: pointer;
}

input[type='radio']:checked {
  background-color: rgb(137, 196, 245);
}

.radio-button:not(:last-child) {
  margin-right: 0.5rem;
}

.attack-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #222;
  border-radius: 4px;
  background: linear-gradient(to right, rgb(255, 165, 165) 0%, #f4e7fa 100%);
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  height: 3rem;
  width: 9rem;
  cursor: pointer;
}
.attack-button:not(:last-child) {
  margin-right: 0.75rem;
}

.attack-icon {
  width: 2rem;
  object-fit: cover;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}
.button-group:not(:last-child) {
  margin-bottom: 0.5rem;
}

#ko {
  height: 0%;
  top: 50%;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.95);
  transition: height 0.2s, top 0.2s;
}
#ko[open] {
  animation: dialog-open 0.2s forwards;
}

@keyframes dialog-open {
  from {
    height: 0%;
    top: 50%;
  }
  to {
    height: 75%;
    top: 12.5%;
  }
}

.ko-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#logo {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

#reset {
  height: 3rem;
  width: 9rem;
  border-radius: 4px;
  border: solid 1px #222;
  padding: 0;
  font-size: 1.15rem;
  background-color: white;
  margin-left: auto;
  float: right;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

#reset:hover {
  background-color: black;
  color: white;
}

#enemy-health:not([data-damage=''])::after {
  content: '-' attr(data-damage);
  position: absolute;
  top: 100%;
  right: 1rem;
  color: red;
  font-weight: bold;
  animation: fade-away 2s forwards;
}

@keyframes fade-away {
  from {
    opacity: 0;
  }
  25%,
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
